header, .wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  text-align: center;
  margin-bottom: 2%;
}

#site_name {
  font-size: 1.5em;
  margin-bottom: 1%;
}

nav { text-align: center; }

nav li {
  display: inline-block;
  padding: .5em;
  margin: .0em .5em;
  width: 5em;
  text-align: center;
  border: 3px solid #87CDDE;
  border-radius: 8px 8px 0 0;
  border-bottom:none;
}

.active {
  background-color: #E3F8FD;
}

.wrapper {
  clear: both; 
  border: 6px solid #87CDDE;
  border-radius: 8px;
  background-color: #87CDDE;
}

.post {
  margin: 0 0 .5em 0;
  background-color: #FFF;
  border-radius: 8px;
  padding: 1em;
}

.post:last-child {
  margin: 0;
}

.post .info div {
  color: #37ABC8;
}

.info {
  margin-bottom: 1em;
}

.post .content {
  clear: both;
}

.post h2:first-child {
  margin-bottom: 1em;
  font-size: 1.4em;
}
