@font-face {
  font-family: mm3;
  src: url('f/mm3_20110816.ttf');
  font-weight:normal;
  font-weight:normal;
}

@font-face {
  font-family: zawgyi;
  src: url('ZawgyiOne2008.ttf');
  font-weight:normal;
  font-weight:normal;
}

