<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Nance Cunningham" /> 
  <meta name="keywords" content="daily burmese, burmese phrases, burmese sample sentences, burmese lessons, myanmar phrases, burmese english translations" /> 

  <link href="{{ site.baseurl }}a/c/reset.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}a/c/app.css" rel="stylesheet" type="text/css">

  <title>Daily Burmese by Nance Cunningham</title>
</head>
<body>
  {{ content }}
</body>
</html>
